* {
  box-sizing: border-box;
}

ul,
li,
h1,
h2,
p,
span {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 16px;
}

body {
  font-family: "Ubuntu", serif;
}

.top-info,
.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5625rem 0;
  border-bottom: 1px solid #ebeef0;
}

.container-info {
  display: flex;
  justify-content: space-between;
  max-width: 100.625rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.info-list {
  list-style: none;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #6b7179;
  font-size: 1rem;
}

.info-item a {
  color: #6b7179;
}

.info-item address {
  font-style: normal;
}
/* END TOP-INFO */

/* START HEADER-NAV */

.header-nav-link {
  color: #333333;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  transition: 0.2s;
  position: relative;
}

.header-nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -1.6875rem;
  right: 0;
  background-color: #00aaff;
  transform: scaleX(0);
  transition: transform 0.2s;
}

.header-nav-link:hover::after {
  transform: scaleX(1);
}

.header-nav-link:hover {
  color: #00aaff;
}
/* END HEADER-NAV */

/* START header-content */

.header-content {
  padding: 3.8125rem 0;
  position: relative;
}

.header-image {
  position: absolute;
  display: block;
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  top: 3rem;
  right: 0;
  width: 75rem;
  height: 43.75rem;
  z-index: -1;
}

.header-box-logo {
  margin-top: 11.25rem;
  width: 58.125rem;

  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  border-left: 5px solid #00aaff;
  padding: 4.375rem;
}

.header-box-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-title {
  font-size: 4rem;
  color: #333333;
  font-weight: 500;
}

.header-box-text {
  margin-top: 1.25rem;
  font-family: "Noto Sans";
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 160%;
  text-align: justify;
  text-align-last: justify;
  padding: 0 1.25rem;
  color: #333333;
  width: 38rem;
}
/* END Header content */

/* START section-about */

.section-about {
  margin-top: 12.5rem;
}
.container-about {
  max-width: 77.25rem;
  margin: 0 auto;
  border-bottom: 1px solid #ebeef0;
  border-top: 1px solid #ebeef0;
  padding: 3rem 0;
}

.title-about {
  font-size: 2.5rem;
  font-weight: 500;
  color: #333333;
  margin-bottom: 2.6875rem;
}

.wrapper-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-bottom: 2.75rem;
}

.about-text {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 20;
  line-height: 160%;
  color: #8d8c8a;
  max-width: 490px;
}

.about-more {
  display: flex;
  align-items: center;
  gap: 1.5625rem;
}

.about-link {
  font-weight: 500;
  font-size: 1rem;
  color: #0072ab;
}

/* START section-product */

.section-product {
  margin-top: 4rem;
}

.title-product {
  text-align: center;
  margin-bottom: 5.5rem;
  font-size: 3.5rem;
  font-weight: 500;
  color: #333333;
}

.main-block-product {
  background-color: #f7f8fa;
  position: relative;
}

/* START Pagination */

.product-pagination {
  position: absolute;
  background-color: #0072ab;
  height: 100%;
  padding-top: 3.125rem;
  z-index: 2;
}

.product-pagination-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.product-pagination-item {
  position: relative;
  padding: 3.125rem;
  transition: all 0.3s ease;
}

.product-pagination-item:hover {
  background-color: #00aaff;
}
.product-pagination-item:hover::after {
  content: "";
  position: absolute;
  top: 50%; /* Позиционируем по вертикали */
  right: -20px; /* Смещаем вправо за пределы элемента */
  transform: translateY(-50%); /* Центрируем по вертикали */
  width: 0;
  height: 0;
  border-top: 20px solid transparent; /* Верхняя часть треугольника */
  border-bottom: 20px solid transparent; /* Нижняя часть треугольника */
  border-left: 20px solid #00aaff; /* Левая граница (цвет совпадает с фоном) */
}

.container {
  max-width: 81.25rem;
  margin: 0 auto;
  padding-top: 7rem;
  padding-bottom: 4rem;
}
.about-product {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-right: 3.75rem;
}

.product-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skils-product-wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-about-product {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: -3.125rem;
}

.skill-up {
  font-size: 1rem;
  font-weight: 500;
  color: #333333;
  margin-bottom: -0.625rem;
}

.skill-procent {
  font-size: 4rem;
  font-weight: 400;
  color: #0072ab;
  margin-bottom: 0.625rem;
}

.text-skill {
  font-size: 1rem;
  font-weight: 400;
  color: #333333;
  margin-bottom: 2rem;
}

.image-about-product {
  border-radius: 0.625rem;
}

.link-more-product {
  text-decoration: none;
  margin-top: 5.3125rem;
  color: #0072ab;
  border: 1px solid #cfd3da;
  padding: 1.25rem 5.125rem;
}

/* START section-biznes-work */

.biznes-work {
  background-image: url("../img/work-torch.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.title-section-biznes {
  font-size: 3rem;
  font-weight: 500;
  color: #333333;
  text-align: center;
  margin-bottom: 4.5rem;
}

.biznes-work-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.biznes-work-wrapper-right {
  display: flex;
  flex-direction: column;
}

.biznes-work-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  /* border-bottom: 1px solid #888d91; */
  padding: 1.875rem 0;
}

.biznes-work-content:last-child {
  border-bottom: 1px solid #ccc;
}

.title-biznes-work {
  font-size: 3rem;
  font-weight: 500;
  line-height: 135%;
  color: #fff;
  max-width: 43.75rem;
}

.biznes-work-left-text {
  font-size: 2rem;
  color: #fff;
  font-weight: 400;
  max-width: 46rem;
}

.biznes-work-right-text {
  font-size: 2rem;
  color: #fff;
  font-weight: 400;
  padding-right: 2.25rem;
}

.link-work-product {
  display: inline-block;
  text-decoration: none;
  margin-top: 5.3125rem;
  color: #fff;
  border: 1px solid #ccc;
  padding: 1.25rem 5.125rem;
  letter-spacing: 0.5px;
}

/* START setion-consalting */
/* Основные стили для аккордеона */
.accordion {
  margin: 0 auto;
  max-width: 62.5rem;
}

.accordion-item {
  position: relative;
  border: 1px solid #ccc;
  overflow: hidden;
  margin-bottom: 0.625rem;
}

.accordion-header {
  max-width: 650px;
  padding: 2.625rem 2.9375rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.5rem;
  list-style: none; /* Убираем маркер у summary */
}

.accordion-header::-webkit-details-marker {
  display: none; /* Скрываем стандартный маркер в Chrome */
}

.accordion-content {
  padding: 0 15px;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.accordion-content-text {
  font-size: 1.25rem;
  font-weight: 400;
  color: #6b7179;
  padding-left: 1.9375rem;
  margin-bottom: 3.125rem;
  max-width: 40rem;
}

.accordion-item[open] .accordion-content {
  max-height: 200px; /* Максимальная высота содержимого */
  padding: 10px 15px; /* Добавляем отступы при раскрытии */
}

.link-accordion-content {
  padding-left: 1.9375rem;
  padding-bottom: 2rem;
}

.accordion-image-prev {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.accordion-image-content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

/* START section news */

.title-news {
  margin-top: -6.25rem;
}

.news-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news-post {
  display: flex;
  flex-direction: column;
  padding: 0.625rem;
  max-width: 25.125rem;
  border: 1px solid #ccc;
}

.news-post-image {
  margin-bottom: 20px;
}

.news-post-text {
  font-size: 1.5rem;
  font-weight: 400;
  color: #333333;
  line-height: 140%;
  margin-bottom: 2.5rem;
}

.date-and-tag {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.625rem;
}

.news-button-more {
  display: flex;
  justify-content: center;
}

.news-link-more {
  display: inline-block;
  text-decoration: none;
  margin-top: 4.5rem;
  color: #00aaff;
  border: 1px solid #ccc;
  padding: 1.25rem 5.125rem;
  letter-spacing: 0.5px;
}

/* START CTA */

.bg-grey {
  background: #f0f2f5;
}

.section-cta {
  position: relative;
  padding-top: 2.25rem;
  margin-top: 9.375rem;
  padding-bottom: 6.25rem;
}

.cta-image {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 28rem;
  width: 50%;
  margin-left: 18%;
}

.cta-form-wrapper {
  display: flex;
  justify-content: flex-end;
}

.cta-form {
  max-width: 52.5rem;
}

.cta-form-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-top: 1.375rem;
  margin-bottom: 2.5rem;
  max-width: 40rem;
}

.input-group-wrapper {
  display: flex;
  gap: 1.875rem;
}

.input-group-vertical {
  display: flex;
  flex-direction: column;
}

.input-group {
  position: relative;
  height: 4.125rem;
  flex-grow: 1;
  background-color: #f0f2f5;
}

.input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.25rem 1.875rem;
  border: 1px solid #e4e4eb;
  background-color: inherit;
}

.input-group-label {
  position: absolute;
  cursor: text;
  top: 1.5rem;
  left: 1.975rem;
  font-weight: 400;
  font-size: 16px;
  color: #828a99;
  transition: top 0.2s, left 0.2s, font-size 0.2s;
}

.input:focus {
  border: 1px solid #5c8ee6;
  outline: 0;
}

.input:focus ~ .input-group-label,
.input:not(:placeholder-shown) ~ .input-group-label {
  top: -0.5rem;
  left: 1.25rem;
  font-size: 0.625rem;
  background-color: inherit;
  padding: 0 0.625rem;
}

.input.is-invalid {
  border: 1px dashed red;
}

.just-validate-error-label {
  position: absolute;
  top: 0;
  right: 10px;
  background-color: inherit;
  padding: 0 0.5rem;
  transform: translateY(-50%);
  font-size: 0.8rem;
  display: inline-block;
}

.cta-form-footer {
  display: flex;
  align-items: center;
  margin-top: 1.875rem;
  gap: 1.875rem;
}

.cta-form-button {
  background-color: #0072ab;
  padding: 1.25rem 3.125rem;
  flex-shrink: 0;
  border: none;
  color: #fff;
}

.notify {
  display: flex;
  align-items: flex-start;
  gap: 0.625rem;
}

.notify-icon {
  flex-shrink: 0;
}

.notify-text {
  margin: 0;
  max-width: 23.75rem;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 160%;
  color: #828a99;
}

/* START Modal */

.modal {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 45, 51, 0.5);
  z-index: 10;
  display: flex;
}

.modal.is-open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

.modal.is-open .modal-dialog {
  transform: translateY(0);
  opacity: 1;
}

.modal-dialog {
  margin: auto;
  max-width: 28.75rem;
  padding: 2.5rem 3.125rem;
  background-color: #fff;
  position: relative;
  transform: translateY(-10%);
  opacity: 0;
  transition: transform 0.4s, opacity 0.5s;
}

.modal-close {
  position: absolute;
  display: block;
  top: 2.5rem;
  right: 3.125rem;
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ebebf0;
}

.modal-title {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 120%;
  color: #292d33;
  margin-top: 0;
  margin-bottom: 20px;
}

.alerrt-modal-dialog {
  max-width: 26rem;
}

.alert-modal-image {
  margin-bottom: 1.25rem;
}

.alert-modal-title {
  font-weight: 600;
}

.alert-modal-link {
  text-decoration: none;
  text-align: center;
}

.modal-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-bottom: 1.875rem;
}

.modal-input-group {
  background-color: #fff;
}

.modal-form-footer {
  margin-top: 30px;
}

.modal-form-button {
  display: block;
  margin: 1.875rem 0;
  width: 100%;
}
/* 
START Footer Top */

.container-footer-top {
  padding-top: 3.125rem;
}

.footer-top-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.footer-top-list {
  list-style: none;
}

.footer-top-item {
  margin-bottom: 0.9375rem;
}

.footer-top-item-link {
  font-size: 1rem;
  font-weight: 400;
  color: #9098a5;
  transition: 0.2s;
}

.footer-top-item-link:hover {
  color: #5c8ee6;
}

.container-footer {
  margin-top: -9.375rem;
}

.footer-medium-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-medium-info {
  max-width: 600px;
}

.footer-medium-logo-logo {
  display: flex;
}

.footer-medium-contackt {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-medium-contack-link {
  color: #575f6c;
  transition: 0.2s;
}

.footer-medium-contack-link:hover {
  color: #5c8ee6;
}

.footer-wrapper-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.footer-down-partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4.5rem;
}
